'.source.enaml':
  'editor':
    'autoIndentOnPaste': false
    'softTabs': true
    'tabLength': 4
    'commentStart': '# '
    'increaseIndentPattern': '^\\s*\\w*\\b.*:\\s*$'
    'decreaseIndentPattern': '^\\s*(elif|else|except|finally)\\b.*:'
